* {
  box-sizing: border-box;
}

body {
  color: #dddddd;
  background: #333333;
  font-family: sans-serif;
}

.content {
  max-width: 400px;
  margin: 0 auto;
}

button {
  display: block;
  color: #505050;
  font-weight: bold;
  background-color: #dedede;
  height: 35px;
  width: 90%;
  border-radius: 5px;
  border: none;
  font-size: 14px;
  box-sizing: border-box;
  padding: 0 10px;
  margin: 10px 5%;
  text-decoration: none;
  line-height: 20px;
  font-weight: bold;
}

input {
  margin-left: 20px;
  display: inline-flex;
  font-size: 18px;
  margin: 10px 5%;
  padding-left: 10px;
  border: none;
  border-radius: 5px;
  height: 35px;
  width: 90%;
  color: #aaaaaa;
  background-color: white;
  font-family: 'Courier New', Courier, monospace;
  border: 2px solid white;
}

input:focus {
  color: black;
  border: none;
  outline: none;
}

.half {
  display: inline-block;
  width: 45%;
  margin: 0 2.5%;
}

button:hover {
  background-color: #cccccc;
}

button:active {
  background-color: #bbbbbb;
  outline: none;
}

button:focus {
  outline: none;
}

button:disabled {
  color: #dddddd;
  background: #bbbbbb;
}

p {
  text-align: center;
}
